#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name={{item.name}}
Exec=/opt/brave.com/brave-beta/brave-browser-beta --password-store=gnome --profile-directory=Default --app="{{item.url}}"
Icon={% if item.icon is defined %}{{item.icon}}{% else %}{{item.name | lower | regex_replace(' ', '-')}}{% endif %}
