Spoons
.DS_Store
org-roam.db
/config/doom/*.html
secrets.fish
home/.aria2/aria2.session
config/nvim/sessions
foo.*
result
home/.aria2/aria2.session
packer_compiled.vim
packer_compiled.lua
fish_variables
*.session
state.yml
config/lazygit/*/*.patch
*.log
tt.*
nvim/lua/config/env.lua
config/environment.d/secrets.conf
config/ghostty/config-dankcolors
config/gtk-3.0/dank-colors.css
config/gtk-4.0/dank-colors.css
config/kitty/dank-theme.conf
config/niri/dankshell-colors.kdl
config/DankMaterialShell/firefox.css
