[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Folke
	email = folke.lemaitre@gmail.com
[color]
	ui = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
