Spoons
.DS_Store
org-roam.db
/config/doom/*.html
secrets.fish
home/.aria2/aria2.session
config/nvim/sessions
foo.*
result
home/.aria2/aria2.session
packer_compiled.vim
packer_compiled.lua
fish_variables
*.session
state.yml
config/lazygit/*/*.patch
*.log
tt.*
nvim/lua/config/env.lua
