@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window#launcher {
  all: unset;

  box.Applauncher {
    background-color: $bg-color;
    border-radius: 11px;
    margin: 1rem;
    padding: 0.8rem;
    box-shadow: 2px 3px 8px 0 gtkalpha(black, 0.4);

    entry {
      margin-bottom: 0.8rem;
    }

    button {
      min-width: 0;
      min-height: 0;
      padding: 0.5rem;

      icon {
        font-size: 3em;
        margin-right: 0.3rem;
      }

      label.name {
        font-weight: bold;
        font-size: 1.1em;
      }

      label.description {
        color: gtkalpha($fg-color, 0.8);
      }
    }

    box.not-found {
      padding: 1rem;

      icon {
        font-size: 6em;
        color: gtkalpha($fg-color, 0.7);
      }

      label {
        color: gtkalpha($fg-color, 0.9);
        font-size: 1.2em;
      }
    }
  }
}
