[Desktop Entry]
Name=Windows PowerShell
Comment=PowerShell 7 via RDP
Exec=fish -c pwsh
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Icon=powershell
StartupWMClass=win-pwsh
