[Desktop Entry]
Name=Windows Desktop
Comment=Windows Desktop via RDP
Exec=fish -c windows
Terminal=false
Type=Application
Categories=System;
Icon=windows
StartupWMClass=win-desktop
