* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font, Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(255, 255, 255, 0.2);
  /* background: rgba(0, 0, 0, 0.5); */
  color: rgba(255, 255, 255, 0.8);
}

tooltip {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  border: 1px solid white;
}
tooltip label {
  color: rgba(0, 0, 0, 0.6);
}

widget label {
  padding: 0 8px;
}

.modules-right,
.modules-center {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 8px;
}

#workspaces {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  margin-right: 8px;
}

#workspaces button {
  padding: 0 5px;
  color: white;
}

#workspaces button.focused {
  background: rgba(255, 255, 255, 0.3);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f87171;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
