* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.4);
  background: rgba(30, 32, 48, 0.5);
  /* background: rgba(0, 0, 0, 0.4); */
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

tooltip {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
tooltip label {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}

widget label,
widget image {
  padding: 0 8px;
  background: rgba(255, 255, 255, 0.1);
}

#window,
#custom-media {
  background: rgba(0, 0, 0, 0);
  padding-right: 20px;
}

.modules-right,
.modules-center {
  color: white;
  /* padding: 0 8px; */
}

#workspaces {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  margin-right: 8px;
}

#workspaces button {
  padding: 0;
}
#workspaces button label {
  padding: 0 6px 0 8px;
  color: white;
  font-size: 14px;
}

#workspaces button.focused {
  background: rgba(255, 255, 255, 0.3);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f87171;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
