[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[user]
name = Folke Lemaitre
email = folke.lemaitre@gmail.com

[color]
ui = true

[alias]
st = status -sb
co = checkout
c = commit --short
ci = commit --short
p = push
l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short

[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	side-by-side = false
	line-numbers = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default

[pull]
	ff = only
[github]
	user = folke
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[credential]
	helper = cache
