@use "sass:color";

$bar-spacing: $spacing * 0.3;
$button-radius: $radius;

@mixin panel-button($flat: true, $reactive: true) {
  @include accs-button($flat, $reactive);

  > * {
    border-radius: $button-radius;
    margin: $bar-spacing;
    background: rgba(255, 255, 255, 0.15);
  }
  &:hover > * {
    background: rgba(255, 255, 255, 0.35);
  }

  label,
  image {
    color: white;
  }

  > * {
    padding: $padding * 0.4 $padding * 0.8;
  }
}

@keyframes error {
  to {
    background-color: $error-bg;
    color: $error-fg;
  }
}

.bar {
  transition: $transition;
  background-color: rgba(30, 32, 48, 0.5);
  // border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  .panel-button {
    @include panel-button;

    &:not(.flat) {
      @include accs-button($flat: false);
    }
  }

  .launcher {
    .colored {
      color: transparentize($primary-bg, 0.2);
    }

    &:hover .colored {
      color: $primary-bg;
    }

    &:active .colored,
    &.active .colored {
      color: $primary-fg;
    }
  }

  .workspaces {
    label {
      font-size: 0;
      min-width: 5pt;
      min-height: 5pt;
      border-radius: $radius * 0.6;
      box-shadow: inset 0 0 0 $border-width $border-color;
      margin: 0 $padding * 0.5;
      transition: $transition * 0.5;
      background-color: transparentize($fg, 0.6);

      &.occupied {
        background-color: white;
        min-width: 7pt;
        min-height: 7pt;
      }

      &.active {
        // background-color: $primary-bg;
        background-image: $active-gradient;
        min-width: 20pt;
        min-height: 12pt;
      }
    }

    &.active,
    &:active {
      label {
        background-color: transparentize($primary-fg, 0.3);

        &.occupied {
          background-color: transparentize($primary-fg, 0.15);
        }

        &.active {
          background-color: $primary-fg;
        }
      }
    }
  }

  .media label {
    margin: 0 ($spacing * 0.5);
  }

  .taskbar label {
    margin: 0 ($spacing * 0.5);
  }

  .system-info > * {
    animation-name: error;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    label {
      margin: 0 ($spacing * 0.5);
    }
  }

  .taskbar .indicator.active {
    background-color: $primary-bg;
    border-radius: $radius;
    min-height: 6pt;
    min-width: 6pt;
    margin: 2pt;
    margin-left: 6px;
  }

  .powermenu.colored,
  .recorder {
    image {
      color: transparentize($error-bg, 0.3);
    }

    &:hover image {
      color: transparentize($error-bg, 0.15);
    }

    &:active image {
      color: $primary-fg;
    }
  }

  .quicksettings > box > box {
    @include spacing($spacing: if($bar-spacing==0, $padding / 2, $bar-spacing));
  }

  .quicksettings:not(.active):not(:active) {
    .bluetooth {
      color: $primary-bg;

      label {
        font-size: $font-size * 0.7;
        color: $fg;
        text-shadow: $text-shadow;
      }
    }
  }

  .battery-bar {
    > * {
      padding: 0;
    }

    &.bar-hidden > box {
      padding: 0 $spacing * 0.5;

      image {
        margin: 0;
      }
    }

    levelbar * {
      all: unset;
      transition: $transition;
    }

    .whole {
      @if $shadows {
        image {
          -gtk-icon-shadow: $text-shadow;
        }

        label {
          text-shadow: $text-shadow;
        }
      }
    }

    .regular image {
      margin-left: $spacing * 0.5;
    }

    trough {
      @include widget;
      min-height: 12pt;
      min-width: 12pt;
    }

    .regular trough {
      margin-right: $spacing * 0.5;
    }

    block {
      margin: 0;

      &:last-child {
        border-radius: 0 $button-radius $button-radius 0;
      }

      &:first-child {
        border-radius: $button-radius 0 0 $button-radius;
      }
    }

    .vertical {
      block {
        &:last-child {
          border-radius: 0 0 $button-radius $button-radius;
        }

        &:first-child {
          border-radius: $button-radius $button-radius 0 0;
        }
      }
    }

    @for $i from 1 through $bar-battery-blocks {
      block:nth-child(#{$i}).filled {
        background-color: color.mix($bg, $primary-bg, $i * 3);
      }

      &.low block:nth-child(#{$i}).filled {
        background-color: color.mix($bg, $error-bg, $i * 3);
      }

      &.charging block:nth-child(#{$i}).filled {
        background-color: color.mix($bg, $charging-bg, $i * 3);
      }

      &:active .regular block:nth-child(#{$i}).filled {
        background-color: color.mix($bg, $primary-fg, $i * 3);
      }
    }

    &.low image {
      color: $error-bg;
    }

    &.charging image {
      color: $charging-bg;
    }

    &:active image {
      color: $primary-fg;
    }
  }
}

.bar.transparent {
  background-color: transparent;

  .panel-button {
    &:hover > * {
      box-shadow:
        1px 1px 3px 0 $shadow-color,
        inset 0 0 0 $border-width $border-color;
      background-color: $bg;
    }

    &:not(:hover):not(.active) {
      label,
      image {
        text-shadow: $text-shadow;
        -gtk-icon-shadow: $text-shadow;
      }
    }
  }

  .workspaces label {
    box-shadow:
      inset 0 0 0 $border-width $border-color,
      1px 1px 3px 0 $shadow-color;
  }

  .battery-bar trough {
    box-shadow: 1px 1px 3px 0 $shadow-color;
  }
}
