window.indicator {
  .progress {
    @include floating-widget;
    padding: $padding * 0.5;
    border-radius: if($radius >0, calc($radius + $padding * 0.5), 0);
    background: rgba(30, 32, 48, 0.5);
    background: rgba(255, 255, 255, 0.5);
    @debug $radius;

    .fill {
      border-radius: $radius;
      background-color: $primary-bg;
      color: $primary-fg;

      image {
        -gtk-icon-transform: scale(0.7);
      }
    }
  }

  .microphone {
    @include floating-widget;
    margin: $spacing * 2;
    padding: $popover-padding * 2;
    font-size: 58px;
    color: transparentize($fg, 0.1);
  }
}
