- name: Create Brave Apps
  template:
    src: "~/dot/ansible/roles/web/templates/app.j2"
    dest: "~/.local/share/applications/brave-{{item.name | lower | regex_replace(' ', '-')}}.desktop"
  loop:
    - { name: "Gmail", url: "https://mail.google.com/mail/u/0/#inbox" }
    - { name: "WhatsApp", url: "https://web.whatsapp.com/" }
    - { name: "Notion", url: "https://notion.so/" }
    - { name: "Twitter", url: "https://twitter.com/home", icon: "web-twitter" }
    - {
        name: "Google Keep",
        url: "https://keep.google.com/u/0/",
        icon: "notes",
      }
    - {
        name: "Google Calendar",
        url: "https://calendar.google.com/calendar/u/0/r",
      }
    - {
        name: "YouTube Music",
        url: "https://music.youtube.com",
        icon: "youtube-music-desktop-app",
      }
    - {
        name: "Messenger",
        url: "https://www.messenger.com/",
        icon: "messengerfordesktop",
      }
