// vim: set ts=4 sw=4 et:

input {
    workspace-auto-back-and-forth
    keyboard {
        repeat-delay 200
        repeat-rate 25
    }

    touchpad {
        tap
        dwt
        drag false
        natural-scroll
        accel-speed 0.2
        accel-profile "adaptive"
        scroll-method "two-finger"
        click-method "clickfinger"
    }
}

environment {
  CLUTTER_BACKEND "wayland"
  GDK_BACKEND "wayland,x11,*"
  GDK_DPI_SCALE "1"
  GDK_SCALE "1"
  QT_AUTO_SCREEN_SCALE_FACTOR "1"
  QT_QPA_PLATFORM "wayland;xcb"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  SDL_VIDEODRIVER "wayland"
  GSK_RENDERER "ngl"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
}

cursor {
    xcursor-theme "Adwaita"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 10000
}

output "eDP-2" {
    mode "2880x1800@120"
    scale 1.5
    variable-refresh-rate
}

debug {
    render-drm-device "/dev/dri/renderD129"
}

layout {
    gaps 16
    center-focused-column "never"
    background-color "#1a1b26"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
        active-color "#07b5ef"
        inactive-color "#ffffff00"
        active-gradient from="#f00f" to="#0f05" angle=45 in="oklch longer hue"
    }

    border {
        off
    }

    shadow {
        on
        draw-behind-window false
        softness 40
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

prefer-no-csd

overview {
    backdrop-color "#1a1b26"
    workspace-shadow {
        softness 50
        spread 20
        offset x=0 y=10
        color "#0007"
    }
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false
}

spawn-at-startup "systemctl" "--user" "import-environment"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "XAUTHORITY"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "dms" "run"
spawn-at-startup "wl-clip-persist" "--clipboard" "regular"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "udiskie"
spawn-at-startup "journalctl-desktop-notification"
spawn-at-startup "easyeffects" "--gapplication-service"
spawn-at-startup "zen-browser"
spawn-at-startup "xhost si:localuser:root"
spawn-sh-at-startup "sleep 3; amixer -c2 set Master 100% unmute"
spawn-sh-at-startup "sleep 3; rog-control-center"
spawn-sh-at-startup "sleep 3; safeeyes"

spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "Arc"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "icon-theme" "Adwaita"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-theme" "Adwaita"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "text-scaling-factor" "1"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-size" "24"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "color-scheme" "prefer-light"

config-notification {
    disable-failed
}

hotkey-overlay {
    skip-at-startup
}

animations {
}

// Maximized
window-rule {
    match app-id="zen"
    open-maximized true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Dialogs window rule
window-rule{
  match app-id="confirm"
  match app-id="pavucontrol"
  match app-id="blueman"
  match app-id="nm-connection-editor"
  match app-id="cpupower"
  match app-id="rog-control-center"
  match app-id="jamesdsp"
  match app-id="easyeffects"
  match app-id="Hello"
  match app-id="xdg-desktop-portal-gtk"
  match app-id="system-config-printer"
  match app-id="ghostty_journalctl"
  match title=r#".*Extension.*Bitwarden.*"#
  open-floating true
  default-column-width { proportion 0.45; }
  default-window-height { proportion 0.45; }
}

// Floating Terminal
window-rule {
  match app-id="folke.scratchpad"
  open-maximized true
  // open-floating true
  // default-column-width { proportion 0.8; }
  // default-window-height { proportion 0.8; }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Mod+Alt+Return { spawn "~/.config/niri/scripts/scratchpad"; }

    Mod+Alt+V hotkey-overlay-title="Clipboard Manager" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Mod+N hotkey-overlay-title="Notification Center" { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Mod+Space hotkey-overlay-title="Application Launcher" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+X hotkey-overlay-title="Power Menu" { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    Shift+Alt+S { spawn "grimblast" "--notify" "copy" "area"; } // Fn+F6

    Mod+E { spawn "nautilus" "--new-window"; }
    Mod+I { spawn "zen-browser"; }

    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "3"; }
    XF86AudioMicMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "micmute"; }
    XF86AudioMute allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "3"; }
    XF86KbdBrightnessDown { spawn "asusctl" "--prev-kbd-bright"; }
    XF86KbdBrightnessUp { spawn "asusctl" "--next-kbd-bright"; }
    XF86Launch1 { spawn "rog-control-center"; }
    XF86Launch4 { spawn "asusctl" "profile" "--next"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" "amdgpu_bl2"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" "amdgpu_bl2"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Alt+H     { move-column-left; }
    Mod+Alt+J     { move-window-down-or-to-workspace-down; }
    Mod+Alt+K     { move-window-up-or-to-workspace-up; }
    Mod+Alt+L     { move-column-right; }

    Mod+Left { focus-column-first; }
    Mod+Right  { focus-column-last; }
    Mod+Alt+Left { move-column-to-first; }
    Mod+Alt+Right  { move-column-to-last; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Alt+1 { move-column-to-workspace 1; }
    Mod+Alt+2 { move-column-to-workspace 2; }
    Mod+Alt+3 { move-column-to-workspace 3; }
    Mod+Alt+4 { move-column-to-workspace 4; }
    Mod+Alt+5 { move-column-to-workspace 5; }
    Mod+Alt+6 { move-column-to-workspace 6; }
    Mod+Alt+7 { move-column-to-workspace 7; }
    Mod+Alt+8 { move-column-to-workspace 8; }
    Mod+Alt+9 { move-column-to-workspace 9; }

    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+M { maximize-column; }
    Mod+Alt+M { expand-column-to-available-width; }
    Mod+F { fullscreen-window; }
    Mod+C { center-column; }
    // Center all fully visible columns on screen.
    Mod+Alt+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the cmn occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+T       { toggle-window-floating; }
    Mod+Alt+T { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+W { toggle-column-tabbed-display; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
